.navlink.active {
  font-weight: bold;
}
.main-container {
  padding-bottom: 60px;
}
.mailboxes a.active {
  font-weight: bold;
}
.mail-item-row {
  cursor: pointer;
}
.mail-item-row a {
  color: #666;
}
.mail-unread {
  font-weight: bold;
}
.message-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.mail-toolbar {
  margin-bottom: 20px;
}