.navlink.active {
  font-weight: bold;
}
.main-container {
  padding-bottom: 60px;
}
.mailboxes a.active {
  font-weight: bold;
};
.message-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}